:root {
    --default-font: ;
    --background: #ffffff;
    --foreground: #171717;
    --h1: clamp(2rem, 1.2rem + 4vw, 4.5rem);
    --h2: clamp(1.75rem, 1.11rem + 3.2vw, 3.75rem);
    --h3: clamp(1.5rem, 1.02rem + 2.4vw, 3rem);
    --h4: clamp(1.375rem, 1.095rem + 1.4vw, 2.25rem);
    --h5: clamp(1.25rem, 1.05rem + 1vw, 1.875rem);
    --h6: clamp(1.125rem, 1.005rem + 0.6vw, 1.5rem);
    --size-2: 0.125rem;
    --size-4: 0.25rem;
    --size-6: 0.375rem;
    --size-8: 0.5rem;
    --size-9: 0.5625rem;
    --size-10: 0.625rem;
    --size-11: 0.6875rem;
    --size-12: 0.75rem;
    --size-13: 0.8125rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-38: 2.375rem;
    --size-40: 2.5rem;
    --size-44: 2.75rem;
    --size-48: 3rem;
    --size-50: 3.125rem;
    --size-56: 3.5rem;
    --size-60: 3.75rem;
    --size-64: 4rem;
    --size-72: 4.5rem;
    --size-76: 4.75rem;
    --rounded-2: 0.125rem;
    --rounded-4: 0.25rem;
    --rounded-6: 0.375rem;
    --rounded-8: 0.5rem;
    --rounded-9: 0.5625rem;
    --rounded-10: 0.625rem;
    --rounded-11: 0.6875rem;
    --rounded-12: 0.75rem;
    --rounded-13: 0.8125rem;
    --rounded-16: 1rem;
    --rounded-20: 1.25rem;
    --rounded-24: 1.5rem;
    --rounded-28: 1.75rem;
    --rounded-32: 2rem;
    --rounded-36: 2.25rem;
    --rounded-38: 2.375rem;
    --rounded-40: 2.5rem;
    --rounded-44: 2.75rem;
    --rounded-48: 3rem;
    --rounded-50: 3.125rem;
    --rounded-56: 3.5rem;
    --rounded-60: 3.75rem;
    --rounded-64: 4rem;
    --rounded-72: 4.5rem;
    --rounded-76: 4.75rem;
    --shadow-1: 0 4px 30px 0 rgba(52, 77, 75, 0.05);
    --shadow-2: 0px 4px 30px 0px rgba(52, 77, 75, 0.0509803922);
    --font-2xxl: 2rem;
    --font-2xl: 1.75rem;
    --font-xxl: 1.5rem;
    --font-xl: 1.25rem;
    --font-lg: 1.125rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-xs: 0.75rem;
    --font-xxs: 0.625rem;
    --primary-50: #e6f7f5;
    --primary-100: #25a1942e;
    --primary-200: #99ddd5;
    --primary-300: #66cbbf;
    --primary-400: #3db9ab;
    --primary-500: #27a798;
    --primary-600: #25a194;
    --primary-700: #1c7f73;
    --primary-800: #145d55;
    --primary-900: #0d3c36;
    --neutral-40: #f8f9fa;
    --neutral-50: #eef2f6;
    --neutral-100: #f3f4f6;
    --neutral-200: #ebecef;
    --neutral-300: #d1d5db;
    --neutral-400: #9ca3af;
    --neutral-500: #6b7280;
    --neutral-600: #4b5563;
    --neutral-700: #374151;
    --neutral-800: #1f2937;
    --neutral-900: #111827;
    --danger-50: #fef2f2;
    --danger-100: #fee2e2;
    --danger-200: #fecaca;
    --danger-300: #fca5a5;
    --danger-400: #f87171;
    --danger-500: #ef4444;
    --danger-600: #dc2626;
    --danger-700: #b91c1c;
    --danger-800: #991b1b;
    --danger-900: #7f1d1d;
    --success-50: #f0fdf4;
    --success-100: #dcfce7;
    --success-200: #bbf7d0;
    --success-300: #86efac;
    --success-400: #4ade80;
    --success-500: #22c55e;
    --success-600: #00c31d;
    --success-700: #15803d;
    --success-800: #166534;
    --success-900: #14532d;
    --warning-50: #fefce8;
    --warning-100: rgba(255, 122, 44, 0.1019607843);
    --warning-200: #fef08a;
    --warning-300: #fde047;
    --warning-400: #facc15;
    --warning-500: #eab308;
    --warning-600: #ff7a2c;
    --warning-700: #f39016;
    --warning-800: #e58209;
    --warning-900: #d77907;
    --info-50: #eff6ff;
    --info-100: rgba(4, 180, 255, 0.1607843137);
    --info-200: #bfdbfe;
    --info-300: #93c5fd;
    --info-400: #60a5fa;
    --info-500: #3b82f6;
    --info-600: #04b4ff;
    --info-700: #1d4ed8;
    --info-800: #1e40af;
    --info-900: #1e3a8a;
    --cyan-50: #e2f5fb;
    --cyan-100: #daf6ff;
    --cyan-200: #85daf4;
    --cyan-300: #6cdafc;
    --cyan-400: #48cef7;
    --cyan-500: #2bc9f9;
    --cyan-600: #04b4ff;
    --cyan-700: #03a9dc;
    --cyan-800: #049dcb;
    --cyan-900: #0390bb;
    --blue-50: #f5f8ff;
    --blue-100: #e6edff;
    --blue-200: #c4d4ff;
    --blue-300: #9ab8ff;
    --blue-400: #709bff;
    --blue-500: #4d7eff;
    --blue-600: #2d57fe;
    --blue-700: #1f40c9;
    --blue-800: #182fa0;
    --blue-900: #121f73;
    --purple-50: #faefff;
    --purple-100: #a80be424;
    --purple-200: #e4b7fb;
    --purple-300: #d08af6;
    --purple-400: #b95cf0;
    --purple-500: #a12bea;
    --purple-600: #a80be4;
    --purple-700: #8100b6;
    --purple-800: #5e0089;
    --purple-900: #3d005c;
    --dark-1: #1b2431;
    --dark-2: #273142;
    --dark-3: #323d4e;
    --lilac-50: #f0e1ff;
    --lilac-100: #ebd7ff;
    --lilac-200: #dcc0f8;
    --lilac-300: #cd9ffa;
    --lilac-400: #c48afe;
    --lilac-500: #b66dff;
    --lilac-600: #8252e9;
    --lilac-700: #6f37e6;
    --lilac-800: #601eef;
    --light-50: #f5f6fa;
    --light-100: #f3f4f6;
    --light-600: #e4f1ff;
    --light-700: #374151;
    --light-800: #1f2937;
    --success-main: #45b369;
    --success-surface: #daf0e1;
    --success-border: #b5e1c3;
    --success-hover: #009f5e;
    --success-pressed: #006038;
    --success-focus: rgba(69, 179, 105, 0.1490196078);
    --info-main: #144bd6;
    --info-surface: #e7eefc;
    --info-border: #aecafc;
    --info-hover: #0a51ce;
    --info-pressed: #06307c;
    --info-focus: rgba(20, 75, 214, 0.1490196078);
    --warning-main: #ff9f29;
    --warning-surface: #fff9e2;
    --warning-border: #ffeba6;
    --warning-hover: #d69705;
    --warning-pressed: #c28800;
    --warning-focus: rgba(255, 192, 45, 0.1490196078);
    --danger-main: #ef4a00;
    --danger-surface: #fcdae2;
    --danger-border: #f9b5c6;
    --danger-hover: #d53128;
    --danger-pressed: #801d18;
    --danger-focus: rgba(239, 71, 112, 0.1490196078);
    --cyan: #00b8f2;
    --indigo: #7f27ff;
    --purple: #8252e9;
    --red: #e30a0a;
    --yellow: #f4941e;
    --orange: #f86624;
    --pink: #de3ace;
    --primary-light: rgba(72, 127, 255, 0.15);
    --yellow-light: rgba(255, 159, 41, 0.15);
    --purple-light: rgba(130, 82, 233, 0.15);
    --pink-light: rgba(250, 54, 230, 0.15);
    --primary-light-white: rgba(72, 127, 255, 0.25);
    --yellow-light-white: rgba(255, 159, 41, 0.25);
    --purple-light-white: rgba(132, 90, 223, 0.25);
    --pink-light-white: rgba(250, 54, 230, 0.25);
    --base: #fff;
    --brand: var(--primary-600);
    --button-secondary: var(--primary-50);
    --black: var(--dark-2);
    --white: var(--base);
    --bg-color: var(--neutral-50);
    --text-primary-light: #212529;
    --text-secondary-light: #6c757d;
    --text-secondary-dark: var(--neutral-300);
    --input-form-light: var(--neutral-300);
    --input-form-dark: var(--neutral-500);
    --input-bg: var(--neutral-50);
    --input-stroke: var(--neutral-300);
    --border-color: #d1d5db80;
}

.dark {
    --button-secondary: var(--neutral-300);
    --black: var(--base);
    --white: var(--dark-2);
    --bg-color: var(--dark-1);
    --text-primary-light: var(--base);
    --text-secondary-light: #d1d5db;
    --text-secondary-dark: var(--dark-2);
    --input-form-light: #6b7280;
    --input-form-dark: #d1d5db;
    --input-bg: var(--dark-3);
    --input-stroke: #f3f4f6;
    --primary-50: #e4f1ff0f;
    --info-50: #eff6ff0f;
    --warning-50: #fefce80f;
    --success-50: #f0fdf40f;
    --danger-50: #fef2f20f;
    --lilac-100: #ebd7ff0f;
    --success-100: #dcfce70f;
    --danger-100: rgba(239, 71, 112, 0.1490196078);
    --border-color: #d1d5db33;
    --neutral-40: #323d4e;
    --neutral-50: #1b2431;
    --neutral-100: #273142;
    --neutral-200: #323d4e;
    --neutral-300: #4b5563;
    --neutral-400: #6b7280;
    --neutral-500: #9ca3af;
    --neutral-600: #d1d5db;
    --neutral-700: #ebecef;
    --neutral-800: #f3f4f6;
    --neutral-900: #f5f6fa;
}

[x-cloak] {
    display: none !important;
}

.dashboard-main {
    background-color: var(--bg-color);
}

.sidebar {
    background-color: var(--white);
}

.header {
    background-color: var(--white);
}
